body {
    font-family: Arial, sans-serif;
    background: linear-gradient(270deg, #d2f4d2, #c6e6c6);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
    height: 120px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.skills-container div {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.skills-container input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.skills-container textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 80px;
}

.form-btn {
    text-align: center;
    margin-top: 20px;
}

.form-btn button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-btn button:hover {
    background-color: #45a049;
}



#generateContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
    /* width: 10px; */
  }

  #generatePortfolio{
    padding: 10px;
  }
  

  #generatePortfolio:disabled {
    opacity: 0.8;
    cursor: not-allowed;
    /* width: 10px; */
    /* padding: 10px; */
  }

  #fillMessage {
    color: red;
    font-size: 14px;
    display: none;
  }

  /* Show fill message only when generate button is disabled */
  #generatePortfolio:disabled + #fillMessage {
    display: inline;
  }

/* Responsive Design */
@media screen and (max-width: 768px) {
    .skills-container {
        grid-template-columns: 1fr;
    }
}