
* {
  box-sizing: border-box;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(270deg, #d2f4d2, #c6e6c6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    overflow: hidden;
    box-sizing: border-box;
    flex-direction: column;
  }


  .main-heading {
    text-align: center;
    /* margin-bottom: 10px; */
  }
  
  .main-heading h1 {
    /* font-size: 24px; */
    color: black;
  }
  
  /* Container Styling */
  .container {
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 0;
    /* height: 100vh; */
  }
  
  /* Form Styling */
  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }


  input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}


  
  button {
    width: 100%;
    padding: 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
  }
  
  button:hover {
    /* background-color: #45a049; */
    background-color: #0056b3;
  }

  .register-link {
    margin-top: 15px;
    color: #555;
  }
  
  .register-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  